html{
	scroll-behavior: smooth;
}
body{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:white;
	text-align:center;
	-webkit-text-stroke: 2px black;
	/*transition-duration: 0.8s;*/
}

h1{
	text-align: center;
	margin-top:10%;
	font-size:900%;
}

p{
	margin-top:-5%;
	font-size:330%;
}

img{
	width: 50%;
}

/*
.inline-photo{
  	opacity: 0;
  	transition: opacity .3s .25s ease-out;
  	will-change: opacity;
}

.inline-photo.is-visible {
  opacity: 1;
}
*/


.button {
  background-color: white; 
  border: 3px solid black;
  color: black;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /*-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  -webkit-text-stroke: 0px;
}

.button:hover {
  background-color: black;
  color: white;
  border: 3px solid black;
}

#about_h{
}

#about_us{
}

#idea_div{
	margin-left:40%;
	font-size: 30%;
	color:white;
	-webkit-text-stroke: 1.3px black;
	/*animation: appear;
	animation-duration: 4s;*/
}

#team_div{
	margin-right:40%;
	margin-top:-28.25%;
	font-size: 30%;
	color:white;
	-webkit-text-stroke: 1.3px black;
	/*animation: appear;
	animation-duration: 4s;*/
}

#time_div{
	margin-left:40%;
	margin-top:4%;
	font-size: 30%;
	color:white;
	-webkit-text-stroke: 1.3px black;
	/*animation: appear;
	animation-duration: 4s;*/
}

#icecream_div{
	margin-top: -37%;
	font-size: 30%;
	color:white;
	-webkit-text-stroke: 1.3px black;
	width:50%;
	/*animation: appear;
	animation-duration: 4s;*/
}

/*
@keyframes appear{
	0%{
		opacity: 0
	}
	100%{
		opacity: 1
	}
}
*/

.room_box {
	box-sizing:border-box;
}

div{
	display: block;
}

h2{
	text-align: center;
	margin-top:10%;
	font-size:900%;
}

.room_photo {
    position: absolute;
    margin: 0px, 50px;   
}

.escape_room{
	width: 500px;
	height: 500px;
	margin-left: 200px;
}
.room_desc{
	text-align: center;
}

.room_info{
	margin-top: 0;
	min-width: 320px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.info_t1{
	letter-spacing: 1px;
	margin-left:215px;
	font-size: 20px;
	margin-top: 12px;
}

p{
	margin-bottom: 20px;
}

.people{
	width: 80px;
	height: 80px ;
	margin-left:200px;
	margin-bottom: 20px: 
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.room_clock{
	width: 80px;
	height: 80px ;
	margin-left:500px;
	margin-bottom: 20px;
	position:relative;
	bottom: 145px; 
}

.info_t2{
	letter-spacing: 1px;
	margin-left:500px;
	font-size: 20px;
	margin-top: 12px;
	position:relative;
	bottom: 165px;
}

.money{
	width: 80px;
	height: 80px ;
	margin-left:800px;
	margin-bottom: 20px;
	position:relative;
	bottom: 310px; 
}

.info_t3{
	letter-spacing: 1px;
	margin-left:800px;
	font-size: 20px;
	margin-top: 12px;
	position:relative;
	bottom: 330px;
}