html{
	scroll-behavior: smooth;
}
body{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:white;
	text-align:center;
	-webkit-text-stroke: 2px black;
	/*transition-duration: 0.8s;*/
}

h1{
	text-align: center;
	margin-top:10%;
	font-size:900%;
}

p{
	margin-top:-5%;
	font-size:330%;
}

img{
	width: 50%;
}

/*
.inline-photo{
  	opacity: 0;
  	transition: opacity .3s .25s ease-out;
  	will-change: opacity;
}

.inline-photo.is-visible {
  opacity: 1;
}
*/


.button {
  background-color: white; 
  border: 3px solid black;
  color: black;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /*-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  -webkit-text-stroke: 0px;
}

.button:hover {
  background-color: black;
  color: white;
  border: 3px solid black;
}

#about_h{
}

#about_us{
}

#idea_div{
	margin-left:40%;
	font-size: 30%;
	color:white;
	-webkit-text-stroke: 1.3px black;
	/*animation: appear;
	animation-duration: 4s;*/
}

#team_div{
	margin-right:40%;
	margin-top:-28.25%;
	font-size: 30%;
	color:white;
	-webkit-text-stroke: 1.3px black;
	/*animation: appear;
	animation-duration: 4s;*/
}

#time_div{
	margin-left:40%;
	margin-top:4%;
	font-size: 30%;
	color:white;
	-webkit-text-stroke: 1.3px black;
	/*animation: appear;
	animation-duration: 4s;*/
}

#icecream_div{
	margin-top: -37%;
	font-size: 30%;
	color:white;
	-webkit-text-stroke: 1.3px black;
	width:50%;
	/*animation: appear;
	animation-duration: 4s;*/
}

/*
@keyframes appear{
	0%{
		opacity: 0
	}
	100%{
		opacity: 1
	}
}
*/